In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import pdb

In [2]:
df_pickle = '/home/lashi/assets/clean-data/full_data_141516.pickle'
df = pd.read_pickle(df_pickle).reset_index(drop=True)

In [4]:
print(df.head())

   dropoff_id  dropoff_latitude  dropoff_longitude  \
0       162.0         40.758575         -73.971850
1       141.0         40.767979         -73.956632
2       114.0         40.728221         -73.999390
3       162.0         40.754197         -73.975601
4       164.0         40.746460         -73.989663

                           dropoff_merc_x_y  fare_amount  pickup_id  \
0   (-8234508.675036414, 4976796.485561519)          8.5       50.0
1   (-8232814.615025521, 4978178.621231795)          4.0      263.0
2   (-8237574.413812861, 4972336.595569553)         11.0       48.0
3  (-8234926.2344463775, 4976153.103735587)          5.5      170.0
4   (-8236491.609125912, 4975016.193801009)          6.5      161.0

   pickup_latitude  pickup_longitude                          pickup_merc_x_y  \
0        40.762503        -73.993487  (-8236917.294858707, 4977373.772382576)
1        40.773923        -73.954618  (-8232590.417571062, 4979052.330627303)
2        40.761079        -73.987031  (-8236198.616226147, 4977164.487271285)
3        40.745814        -73.981887  (-8235625.988765505, 4974921.273609048)
4        40.754623        -73.980423  (-8235463.017030984, 4976215.705953844)

   tip_amount tpep_dropoff_datetime tpep_pickup_datetime  trip_distance  \
0         1.8   2014-07-07 07:53:37  2014-07-07 07:42:48            1.4
1         0.0   2014-07-10 13:54:01  2014-07-10 13:51:40            0.5
2         0.0   2014-07-10 02:38:23  2014-07-10 02:27:41            2.7
3         0.0   2014-07-10 09:01:35  2014-07-10 08:55:23            0.6
4         0.0   2014-07-10 11:49:01  2014-07-10 11:41:17            0.9

   cluster_id
0         420
1        2316
2         401
3        1479
4        1394